<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="description" content="website description" />
		<meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
		<title></title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
	</head>
	<body>
		
		<div id="outer">
			<div id="container">
				
				<h1>The Price is Right!</h1>
				
				<div id="won">
					<div id="menu">
						<a href="/">Home</a>
					{% if ("username" in session) or ('logged_in' in session)%}
						<a href="/logout">Logout</a>
					{% else %}
                        <a href="/register">Select A Username</a>
                    {% endif %}

			        </div>
				</div>
				
				<h2>Round {{round}}</h2>
                <h3>Guess The Price. If the Price is close to the retail price, you win the prize(not really).</h3>
                <h3>The item is: <u>{{itemname}}</u></h3>
                <img src={{url}} alt="some_text"  width="480" height="360"><br />
                {% if ("" in url)%}
                    <a href="/game">Click to show image if missing. Will be fixed soon</a>
                {% endif %}
                <h3>Description: {{itemdescription}}</h3><b />
                <h3>{{message}}</h3>
                                
                <form action="" method="POST">
                    $<input name="price" id="price" value="" /><br />
                    <input type="submit" id="sub" value="Guess!" />
                </form>
				
			</div>
		</div>
		
	</body>
</html>




















