<html>
	<head>
		<meta charset="utf-8" />
		<meta name="keywords" content="The Price is Right Guessing Game Javascript HTML JQuery Python App Flask" />
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
	</head>
    <div id="fb-root"></div>
        <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1423888951173454";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
	<body>
        
        <a href="https://github.com/stuycs-softdev/proj2-pd6-01-NoIdeaWhatToDo"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
		
		<div id="outer">
			<div id="container">
				
				<h1>The Price is Right!</h1>
				
				<div id="won">
					<div id="menu">
						<a href="/">Home</a>
						{% if ("username" in session) or ('logged_in' in session)%}
							<a href="start">New Game/Continue Game</a>
							<a href="logout">Logout</a>
						{% else %}
                        	<a href="register">Select A Username</a>
                    	{% endif %}
			        </div>
				</div>
                <ul>
            <h2>Leaderboards-Top 20</h2>
                    <ol>
                		{% for user in leaders %}
                        <li>
                            {% if ("none" in user.fb)%}
                                <b>Username:</b><u>{{user.username}}</u> <b>Winnings:</b> ${{user.prize}}
                            {% else %}
                                <b>Username:</b><a href ="https://facebook.com/{{user.fb}}"target = "_blank">{{user.username}}</a> <b>Winnings:</b> ${{user.prize}}<b />
                            {% endif %}
                        </li>
                		{% endfor %}
                    </ol>
                    <br /><div class="fb-like" data-href="https://softdev-server.stuycs.org:6001" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </ul>
				
			</div>
		</div>
        
		
	</body>
</html>




















