<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="description" content="website description" />
		<meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
		<title></title>
		<link rel="stylesheet" type="text/css" href="../frontend/css/style.css" />
        <script src="../frontend/js/vendor/jmin.js"></script>
        <script src="../frontend/js/main.js"></script>
	</head>
	<body>
		
		<div id="outer">
			<div id="container">
				
				<h1>The Price is Right!</h1><br />
				
				<form class="credentialForm" id="registerForm" action=" {{ url_for('register')}} " method="post">
	                <h2>Enter the username you want to play with.</h2>
                    <input type="text" name="username" size="20" placeholder="Username"/><br>
	
	                <div class="formButtons">
		                <input type="submit" name="login">
		                <button class="cancel" type="button">Cancel</button>
	                </div>
                 </form>
                 <h2>Or Log in using your Facebook account.</h2>
                 <a href="/facebook_login"><span class="s1">Login with Facebook</span></a>
				
			</div>
		</div>
        
		
	</body>
</html>




















