<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="description" content="website description" />
		<meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
		<title></title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
	</head>
    <div id="Div1"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1423888951173454";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
	<body>
		
		<div id="outer">
			<div id="container">
				
				<h1>The Price is Right!</h1><br />

                <div id="won">
						<a href="/">Home</a>
				</div>
				
				<form class="credentialForm" id="registerForm" action=" {{ url_for('register')}} " method="post">
	                <h2>Enter the username you want to play with.</h2>
                    <input type="text" name="username" size="20" placeholder="Username"/><br>
	
	                <div class="formButtons">
		                <input type="submit" name="login">
		                <button class="cancel" type="button">Cancel</button>
	                </div>
                 </form>
                 <h2>Or Log in using your Facebook account.</h2><br />
                 <div class="fb-login-button" data-max-rows="1" data-show-faces="false"></div>
				
			</div>
		</div>
        
		
	</body>
</html>




















